* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

button {
	border: 0;
	background-color: white;
}
button:hover {
	background-color: silver;
}

input {
	border: 1px solid black;
	border-top: 0;
	border-bottom: 0;
}

select {
	border: 0;
	border-left: 1px solid black;
}

button + button {
}


#outer {
	display: flex;
	flex-direction: column;
	padding: 6px;
	height: 100%;
}

#editorWrapper {
	flex: 1;
}

#editorContainer {
	width: 100%;
	flex: 1;
	border: 0;
}

#editor {
	height: 100%;
	width: 100%;

	padding: 4px;

	border: 1px solid black;
	border-top: 0;

	font-size: 49px;

	overflow: auto;

	box-sizing: border-box;

	white-space: pre;
}


#picker {
	height: 75px;
	width: 300px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	box-shadow: 10px 10px 5px #888888;
	position: fixed;
	z-index: 1000;
	background-color: white;
}

#pickerInputContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.highlighted {
	background-color: highlight!important;
}

.highlight span {
	opacity:0.6
}

#colorField {
	margin-left: auto;
}

#colorButton {
	margin-right: auto;
}

#toolbar {
	display: flex;
	border: 1px solid black;
}

#taskbar {
	height: 26px;
	border: 1px solid black;
	border-top-width: 0;
	display: flex;
	align-items: center;
}

#taskbar .widget0 {
	flex: 1;
}

#taskbar .widget1, #taskbar .widget2 {
	cursor: pointer;
}

#taskbar .taskbarWidget+.taskbarWidget {
	margin-right: 5px;
}

#toolbar button {
	height: 30px;
	width: 30px;
	font-size: 12pt;
}

#toolbar button.toggleOff {
	background-color: lightblue;
}

#toolbar input {
	height: 30px;
}

#toolbar .buttonType20 { /* italic */
	font-family: serif;
}

#toolbar .buttonType30 { /* underline */
	margin-right: 3px;
}

#toolbar .buttonType35 { /* text size */
	width: 40px;
	text-align: center;
}

#toolbar .buttonType50 { /* font decrease */
	margin-right: 3px;
}

#toolbar .buttonType70 { /* background color button */
	margin-right: 6px;
}

.svgContainer {
	display: inline-flex;
	height: 100%;
	align-items: center;
	margin-right: 3px;
}

#toolbar .buttonType80 { /* run button */
	width: 60px;
	text-align: center;
	background-color: #009900;
	color: white;
	fill: white;
}

.oops {
  outline: 4px dashed yellow;
  box-shadow: 0 0 0 4px black;
}

.inlineSVG {
	display: none
}

.colorSelector {
	background-color: white;
	width: 220px;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid black;
	margin: 3px 0;
}

.colorSelector .colorSelectorCaption {
	text-align: center;
	height: 20px;
	border-bottom: 1px solid black;
	margin-bottom: 3px;
}

.colorSelector .recentColorEntry {
	flex: 1;
	height: 20px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
	background-color: white;

	border: 1px solid black;
}

.colorSelector .recentColorRow {
	display: flex;
	margin-top: 3px;
}

.colorSelector .colorSelectorField {
	width: calc(100% - 6px);
	height: 20px;

	margin: 3px;
}

#menubar {
	display: flex;
	fiex-direction: row;
	border: 1px solid black;
	border-bottom: 0;
	padding: 2px;
}

.menu {
}

.menu button {
	font-size: 14pt;
}

.menu+.menu {
	margin-left: 12px;
}

.openMenu {
	background-color: white;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	min-width: 85px;
	box-shadow: 10px 10px 5px #888888;
}

.openMenu .menuEntry {
	padding: 4px;
}
.openMenu .selectableMenuEntry:hover {
	background-color: highlight;
	cursor: pointer;
}

.openMenu .checkbox {
	margin-right: 4px;
}

.openMenu a {
	text-decoration: none;
	color: black;
}
